<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212390480247-njk8j0sf051m0fjbtkef3eotel9ld5nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212390480247-njk8j0sf051m0fjbtkef3eotel9ld5nf</string>
	<key>API_KEY</key>
	<string>AIzaSyB-OPLXJrR2l2RCYLAXzo4njwFGxha6IdM</string>
	<key>GCM_SENDER_ID</key>
	<string>212390480247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myorgainzation.Contacts</string>
	<key>PROJECT_ID</key>
	<string>contactsapp-87aa0</string>
	<key>STORAGE_BUCKET</key>
	<string>contactsapp-87aa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212390480247:ios:da5347517ee08475797972</string>
</dict>
</plist>